.activity-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card,
.course-card {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #333;
  flex: 1 1 30%;
  box-sizing: border-box;
}

/* Instructor card */

.instructor-name {
  color: #333;
  cursor: pointer;
  border-bottom: 2px solid #d2a41d;
  padding-bottom: 2px;
}
.instructor-details {
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructor-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}
/* Activity Sections */
.activity-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.activities-container-kids {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
