/* Main Layout */
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.row {
  display: flex;
  width: 100%;

  flex-grow: 1;
}

.column {
  flex: 1;
}

/* Link Styles */
a.main-link {
  /* height: 250px; */
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: 0.3s ease;

  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);

  flex-grow: 1;
}

a.main-link:visited {
  color: #fff;
}

.accommodation {
  background-image: url("https://images.unsplash.com/photo-1645535490445-8b1ed504b70e?q=80&w=3165&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.activities {
  background-image: url("https://images.unsplash.com/photo-1703359328488-791214a225fa?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.gastronomy {
  background-image: url("https://images.unsplash.com/photo-1519749309470-4be889b4e4e2?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
