/* Styles for home page title*/
.homepage-title {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 100px 0;
  font-size: 2.5rem;
  background-image: url("https://img.freepik.com/free-photo/photorealistic-wooden-house-interior-with-timber-decor-furnishings_23-2151263547.jpg?t=st=1732643265~exp=1732646865~hmac=720d42775c86015e3b9e0ca97de62e04008de87d06dc0ceacf63decd37588637&w=2000");
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Main Layout */
main {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  flex: 1;
}

/* Link Styles */
.main-link a {
  color: #fff;
  text-decoration: none;
}

.main-link {
  height: 250px;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: 0.3s ease;
}

.accommodation {
  background-image: url("https://img.freepik.com/free-photo/luxurious-villa-with-modern-architectural-design_23-2151694106.jpg?t=st=1732560126~exp=1732563726~hmac=c9abfb97c98ee99931b1b65dad5b7d75f4a44cbbaed0e5999d9a61a6389846bc&w=2000");
}

.activities {
  background-image: url("https://img.freepik.com/free-photo/two-men-skiing-down-mountain-winter-generated-by-ai_188544-32978.jpg?t=st=1732556758~exp=1732560358~hmac=5d62367168b817985269eb2874f52e604db575f250dc79547fc9473d9c879dff&w=2000");
}

.gastronomy {
  background-image: url("https://img.freepik.com/free-photo/delicious-christmas-finger-food-arrangement_23-2151101862.jpg?t=st=1732556907~exp=1732560507~hmac=6a5038878ca707c248cdb17b29c78e3f58ba2458b1a8166157910de71254b222&w=1380");
}
