/* Global Styles */
body {
  font-family: "Georgia", serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Titles */
h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 85px 0;
  font-size: 2.5rem;
  /* background-color: #2c3e50; */
}

/* Navigation and Footer Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 10px 20px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header {
  background-image: url("https://images.unsplash.com/photo-1515767160065-1733c5eb680f?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  position: relative;
}

header h1 {
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

nav a,
footer a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

nav a:hover,
footer a:hover {
  color: #6d97c0c0;
}

/* Button Styles */
button,
.dropbtn {
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.home-icon {
  transition: transform 0.3s ease;
  margin-top: 20px;
}

.home-icon:hover {
  transform: scale(1.1);
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(241, 241, 241, 0.6);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
